.p{
    display: flexbox;
    background-color: aquamarine;
    margin: 5px;
    padding: 10;
    border-style: solid;
    border-color: black;
 
}


.container{
    display: flexbox;
    background-color: brown;
    margin: 5px;
    padding: 10;
    border-style: solid;
    border-color: black;
    
}

