a {
  font-size: 10000px;
}

h1 {
  background: darkred;
  /*color: rgb(0-255, 68, 141);*/
  /*color: rgba(57, 68, 141, 50%);*/
  /*
  HEX
  0123456789ABCDEF
  255 = FF
  0 = 00
  */
  /*
  color: rgb(255, 0, 255);
  color: #ff00ff;
  color: #acf;
  color: #aaccff;
  color: hsl(120, 55%, 35%);
  color: rgb(97, 161, 212);
  */
}

h2,
h3,
h4,
h5 {
  background: red;
  font-size: 10px;
}

li a {
  font-size: 30px;
}

/* This block is for all the paragraphs */
p {
  /*padding-top: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-left: 20px;*/

  padding: 20px 20px 20px 20px;
}

a {
  font-size: 20px;
  background-color: red;
}

#pDescription {
  background-color: chartreuse;
}

.PaddedBlue {
  background-color: blue;
  padding: 10px;
}

.BigFont {
  font-size: 60px;
}

#a1,
#a2 {
  font-style: italic;
}
