################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Review/Lesson1-1/.vs/Lesson1-1
/Review/Lesson1-1/Ex1Solution/bin/Debug
/Review/Lesson1-1/Ex1Solution/obj/Debug
/Review/Lesson1-1/Ex2Solution/bin/Debug
/Review/Lesson1-1/Ex2Solution/obj/Debug
/Review/Lesson1-1/Methods/bin/Debug/Methods.exe
/Review/Lesson1-1/Methods/bin/Debug/Methods.pdb
/Review/Lesson1-1/Methods/obj/Debug/Methods.exe
/Review/Lesson1-1/Methods/obj/Debug/Methods.pdb
/OOP/.vs/OOP
/OOP/Lesson1/bin/Debug/net8.0
/OOP/Lesson1/obj
/OOP/Lesson2/bin/Debug/net8.0
/OOP/Lesson2/obj
/OOP/.vs/ProjectEvaluation
/OOP/Lesson3/bin/Debug/net8.0
/OOP/Lesson3/obj
/OOP/Lesson4/bin/Debug/net8.0
/OOP/Lesson4/obj/Debug/net8.0
/OOP/Lesson4/obj
/OOP/Lesson5/bin/Debug/net8.0
/OOP/Lesson5/obj
/OOP/Lesson6/bin/Debug/net8.0
/OOP/Lesson6/obj
/OOP/Lesson7/bin/Debug/net8.0
/OOP/Lesson7/obj
/OOP/Lesson6/~$HW.docx
/OOP/ZooApp/bin/Debug/net8.0
/OOP/ZooApp/obj
/OOP/Lesson7/~$HW.docx
