################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Review/Lesson1-1/.vs/Lesson1-1
