################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Review/Lesson1-1/.vs/Lesson1-1
/Review/Lesson1-1/Ex1Solution/bin/Debug
/Review/Lesson1-1/Ex1Solution/obj/Debug
