/* div[class^="col"],
div[class*=" col"] {
  background-color: aquamarine;
  border: 1px solid black;
}
div[class^="container"],
div[class*=" container"] {
  background-color: burlywood;
  border: 1px solid black;
}

div[class^="row"],
div[class*=" row"] {
  background-color: darksalmon;
  border: 1px solid black;
} */
